div.row
  div.col-md-5
    input.form-control(ng-model="title" placeholder="Enter title to search...")
  div.col-md-3
    button.btn.btn-default.btn-block(ng-click="search()")
      | Search
hr
div.row
  table.table
    thead
      th #
      th Title
      th From
      th To
      th Location
      th &nbsp;
    tbody
      tr(ng-repeat="event in events")
        td {{$index + 1}}
        td
          a(ng-href="#/events/{{event._id}}")
            | {{event.title}}
        td {{event.from | date:'medium'}}
        td {{event.to | date:'medium'}}
        td {{event.location}}
        td
          button.btn.btn-danger.btn-block(ng-click="deleteEvent($index)")
            | Delete

