doctype html
html(ng-app="app")
  head
    title
      | Search
    meta(charset="utf-8")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/css/datetimepicker.css", rel="stylesheet", type="text/css")
body
  div.container(ng-view="")

  script(src="//code.jquery.com/jquery.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
  script(src="/js/datetimepicker.js")

  script(src="/js/app.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")