div.row
  div.col-md-3
    button.btn.btn-default(ng-click="activePanel = 'SEARCH'", ng-class="{'btn-primary' : activePanel === 'SEARCH'}")
      | Search

    button.btn.btn-default(ng-click="activePanel = 'ADD'", ng-class="{'btn-primary' : activePanel === 'ADD'}")
      | Add new
hr
div.row(ng-if="activePanel === 'ADD'")
  event-new
div.row(ng-if="activePanel === 'SEARCH'")
  event-search