div
  label Title
  input.form-control(type="input" placeholder="Meeting with joe" ng-model="model.title")

div
  label From
  div.dropdown
    | {{model.from | date:'medium'}}
    | &nbsp;
    a.dropdown-toggle#fromDate(role="button" data-toggle="dropdown" )
      | [ Pick a date ]
    ul.dropdown-menu(class="" role="menu")
      datetimepicker(data-ng-model="model.from" data-datetimepicker-config="{ dropdownSelector: '#fromDate'}")
div
  label To
  div.dropdown
    | {{model.to | date:'medium'}}
    | &nbsp;
    a.dropdown-toggle#toDate(role="button" data-toggle="dropdown" )
      | [ Pick a date ]
    ul.dropdown-menu(class="" role="menu")
      datetimepicker(data-ng-model="model.to" data-datetimepicker-config="{ dropdownSelector: '#toDate'}")
div
  label Location
  input.form-control(type="input" placeholder="Meeting room #101"  ng-model="model.location")

div
  label Description
  textarea.form-control(type="input" ng-model="model.description")

div
  label Participants
div.row
  div.col-md-8
    input.form-control(type="input" placeholder="Joe" ng-model="newParticipant")
  div.col-md-4
    button.btn.btn-default(ng-click="addNewParticipant(newParticipant)")
      | Add New

hr
div.row(ng-repeat="person in model.participants track by $index")
  div.col-md-8
    | {{person}}
  div.col-md-4
    button.btn.btn-danger.btn-xs(ng-click="removeParticipant($index)")
      | X
hr

div.row
  div.col-md-6
    button.btn.btn-primary.btn-block(ng-click="save()", ng-disabled="!model.title.length")
      | Save Event
  div.col-md-6
    button.btn.btn-danger.btn-block(ng-click="resetModel()")
      | Clear